body {
    background-color: #ADD8E6;
    font-family: "Comic Neue";
}

.shart {
    margin: 0px;
    float:right;
}
/*The whole thing*/
.da-whole-thing{
    height: 625px;
    width: 875px;
    padding-top: 2%;
    padding-left: 20%;
    padding-right: 20%;
}
/*---------------------------------------*/

/*Left side of da webpage*/
.da-left {
    float:left;
    height: 625px;
    width: 625px;
}
.main-left-window {
    height: 625px;
    width: 625px;
    border-radius: 10px;
    background-color: #8eb1bd;

    display: flex;
    justify-content: center;
    align-items: center; 
}
.main-left-content-container {
    height: 600px;
    width: 600px;
    border-radius: 10px;
    background-color:blanchedalmond;

    display: flex;
    justify-content: center;
    align-items: center; 
}
.main-left-content-content {
    height: 580px;
    width: 580px;
    border: 4px solid #9fc7d4;
    border-radius: 10px;
    
    text-align: justify;
}
/*---------------------------------------*/

/*Right side of da page*/
.da-right {
    float: right;
    height: 625px;
    width: 200px;
    margin-right: 30px;
}
.top-right-window {
    height: 125px;
    width: 250px;
    border-radius: 10px;
    background-color: #8eb1bd;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center; 
}
.top-right-window-content{
    height: 105px;
    width: 230px;
    border-radius: 10px;
    background-color: blanchedalmond;
    background-image: url("https://img1.picmix.com/output/stamp/normal/6/2/9/7/1807926_d2975.gif");
    background-size: 100% 100%;
}

.middle-right-window {
    height: 240px;
    width: 250px;
    border-radius: 10px;
    background-color: #8eb1bd;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center; 
}
.middle-right-window-content{
    height: 220px;
    width: 230px;
    border-radius: 10px;
    background-color: blanchedalmond;
    background-image: url("https://img1.picmix.com/output/stamp/normal/6/2/9/7/1807926_d2975.gif");
    background-size: 100% 100%;
}

.bottom-right-window {
    height: 240px;
    width: 250px;
    border-radius: 10px;
    background-color: #8eb1bd;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center; 
}
.bottom-right-window-content{
    height: 220px;
    width: 230px;
    border-radius: 10px;
    background-color: blanchedalmond;
    background-image: url("https://img1.picmix.com/output/stamp/normal/6/2/9/7/1807926_d2975.gif");
    background-size: 100% 100%;
}

